body {
  font: 12px sans-serif;
  margin: 20px;
}

img {
  max-width: 360px;
  max-height: 320px;
}

.container {
  height: 320px;
  width: 360px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.options {
  position: absolute;
  width: 360px;
  bottom: 20px;
  display: flex;
}

.option {
  padding: 10px;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  margin-right: 5px;
}

.refresh {
  cursor: pointer;
}

.warn {
  font-size: 14px;
}
